{% extends "base.html" %}
{% block content %}
<article>
    <h2>Please Read:</h2>
    <p>Welcome to the Ogres and Alchemy MMORPG Database Website.</p>
    <p>On this site you can take a look at the Ogres and Alchemy Database. There is each page represents their
        respective entity and you are able to Create, Read, Update, and Delete most pages. The Inventory page is the
        only one that is missing the Update functionality, otherwise every entity is able to CRUD.</p>
    <p>One thing we ask is please do not delete pre-existing data if you want to test it. We recommend creating a new
        item and then deleting or editing that if you want to test it.</p>
    <p>Other than that, please check out the website and send us some feedback. We'd appreciate it, thanks!</p>
</article>
{% endblock %}