{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h2>Users: </h2>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tbody>
            {% for user in users %}
                <tr>
                    <td> {{ user.userID }} </td>
                    <td> {{ user.email }} </td>
                    <td> {{ user.userName }} </td>
                    <td> <a href= "/edit_user/{{ user.userID }}"> edit </a> </td>
                    <td> <a href= "/delete_user/{{ user.userID }}"> delete </a> </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <h3>Create User:</h3>
            <div class="container"> 
                <form method="POST" action="/create_user">
                    <label for="email">email: </label> <input type="text" name="email" value=""> <br>
                    <label for="userName"> Username: </label> <input type="text" name="userName" value=""> <br>
                    <button type="submit">Create User</button>
                </form>
            </div>
    </div>
</div>

{% endblock %}
